body{
    // <uniquifier>: Use a unique and descriptive class name
    // <weight>: Use a value from 100 to 900
    
    .work-sans-<uniquifier> 
      font-family: "Work Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
    
}


.header{
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header-banner{
    text-align: right;
    padding: 216px 230px 165px 845px;
}
.banner-title{
    color: #FFF;
text-align: right;
font-size: 65px;
font-weight: 700;
padding-top: 216px;
margin-bottom: 24px;
}
.banner-description{
    color: #FFFFFF;
text-align: right;
font-size: 16px;
font-weight: 400;
margin-bottom: 32px;
margin-left: 24px;
}
.btn-primary{
    border-radius: 5px;
background: #FFF;
padding: 20px 25px;
color: #005FAC;
border: none;
}

/* start main section */
.sections{
    display: flex;
    margin: 135px 322px 135px 210px;
}
.title-section{
    margin-left: 87px;
    margin-top: 235px;
    color: #151414;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}
.para-section{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}
.ul-section{
    color: #444343;
font-size: 16px;
font-weight: 400;
list-style: none;
}
.header-section{
color: #151414;
    text-align: center;
font-size: 40px;
font-weight: 700;
margin-top: 135px;
}
.section-image{
    margin: 0px 230px 135px 230px;
    justify-content: center;
}
  .icons{
    margin-top: 0px 90px;
    display: flex;
  }
  .icon > img{
    margin-right: 90px;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
  .icon > h6{
    color: #151414;
    font-size: 30px;
    font-weight: 500;
    margin-top: 30px;
    margin-right: 100px;
  }
  .icon > p{
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 16px;
  }
  .image1{
    background-image: url('../images/watch.png');
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px 230px 135px 230px;
    padding: 59px 617px 59px 64px;
  }
  .title2{
    color: #FFF;
font-size: 40px;
font-weight: 700;
margin-bottom: 24px;
  }
  .footer{
    background: #151414;
    display: flex;
    padding: 130px 230px;
  }
  .footer-g{
    margin-right: 330px;
  }
  .footer-title{
    color: #F8F8F8;
font-size: 45px;
font-weight: 700;
margin-bottom: 16px;
  }
  .footer-para{
    color: #FFF;
font-size: 16px;
font-weight: 400;
margin-bottom: 20px;
  }
  .anchor{
    margin-right: 10px;
  }
  .footer-header{
    color: #FFF;
font-size: 25px;
font-weight: 600;
margin-bottom: 30px;
  }
  .form{
    margin-bottom: 16px;
    border-radius: 8px;
border: 1px solid #FFF;
background: #151414;
border: none;
  }
  .btn-secondary{
    border-radius: 8px;
background: #005FAC;
padding: 20px 35px;
color: #FFFFFF;
}
